.nav-link, .list-group-item {
  font-size: 11px;
  border-radius: 0 !important;
}

[class^="col-"], .col {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.nav-pills .nav-link.active {
  background:#424242;
}

a.nav-item.nav-link {
  color: #BDBDBD;
}

.list-group-item {
  padding: 8px;
}
